/0-data/1-graphs/kitchen_graph.mat
/0-data/1-graphs/living_graph.mat
/0-data/1-graphs/office_graph.mat
/0-data/1-graphs/bedroom_graph.mat
/0-data/2-hierarchies/bedroom_hierarchies.mat
/0-data/2-hierarchies/kitchen_hierarchies.mat
/0-data/2-hierarchies/living_hierarchies.mat
/0-data/2-hierarchies/office_hierarchies.mat
